<title> Products </title>

{{ template "templates/layouts/header.html" .}}


<div class="page-wrapper">

  <div class="box-wrapper">


    <div class="breadcrumbs">
      <ul class="flex">
        <li><a href="javascript:void(0)">Home</a></li>
        <li>></li>

        <li><a href="javascript:void(0)">Products </a></li>
      </ul>
    </div>


    {{ range.products}}
    <div class="flex product-list-row">
      <div class="pl-img"> <img src="{{.Imagepath}}"> </div>
      <div class="pl-content">
        <h3><a href="javascript:Void(0)">{{.Title}}</a></h3>
        <div class="flex rev-row">
          <i class="fas fa-star active"></i>
          <i class="fas fa-star active"></i>
          <i class="fas fa-star active"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <p>(194 Reviews)</p>
        </div>
        <h2>₹{{.Price}}</h2>
        <ul class="prd-dtl">
          <li>Filling Material: Foam</li>
          <li>Frame Material: Solid Wood</li>
          <li>DIY - Basic assembly to be done with simple tools by the customer, comes with instructions.</li>
          <li>This sofa set is a clear all-rounder</li>
       
        </ul>
        <div class="atc-wish flex">              
          <a href="javascript:Void(0)" class="flex"><span></span> Add to Wishlist</a>
          <button>Add to Cart</button>
      </div>
      </div>
    </div>

    {{ end }}
  

  </div>

  <ul class="flex pagination">
    <li> <a href="/?limit={{ .Previous }}" id="prev" data-limit="{{.Previous}}"> <i
          class="fas fa-chevron-left"></i>
      </a> </li>
    <li> <a id="pageid0" href="/?limit=0"> 1 </a> </li>
    <li> <a id="pageid6" href="/?limit=6"> 2 </a> </li>
    <li> <a id="pageid12" href="/?limit=12"> 3 </a> </li>
    <li> <a id="pageid18" href="/?limit=18"> 4 </a> </li>
    <li> <a id="pageid24" href="/?limit=24"> 5 </a> </li>
    <li> <a id="pageid30" href="/?limit=30"> 6 </a> </li>

    <li> <a href="/?limit={{ .Next }}" id="nex" data-limit="{{.Next}}"> <i class="fas fa-chevron-right"></i>
      </a>
    </li>
  </ul>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {

    var plimit = $('#prev').data('limit')
    var nlimit = $('#nex').data('limit')

    if (plimit === 0 && nlimit === 6) {

      $('#pageid0').addClass("active disabled")
      $('#prev').addClass(" disabled")
    }
    else if (plimit === 24) {
      $('#pageid30').addClass("active disabled")
      $('#nex').addClass(" disabled")
    }
    else {
      var cp = plimit + 6

      $('#pageid' + cp).addClass("active disabled")
    }
  });

</script>

{{ template "templates/layouts/footer.html"}}